.content{
    display: flex;
flex-direction: column;
gap: 20px;

}

.nav{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    font-weight: 800;
}

.form{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    font-weight: 800;
}